{{#extend "stylesheets"}}

{{/extend}}

{{#extend "scripts"}}
    <script src="js/topNavigation.js"></script>
{{/extend}}


<header class="header">
    <h1><a href="/">Морозный полдень</a></h1>
    <span class="name"> {{user.team}}</span>
    <div class="right">

        <div class="menus" id="menus">
            <div class="menu"><a href="#">Меню</a></div>
            <div class="popup">
                <a href="/chat" class="settings" id="chat">Чат</a>
                <a href="/map" class="settings" id="chat">Карта</a>

                {{#if user.isAdmin}}
                    <a href="/admin" class="settings">Админ панель </a>
                {{/if }}

                {{#if user.team}}
                    <a href="/logout" id="logout" class="settings">Выйти</a>
                {{else}}
                    <a href="/login" class="settings">Войти/Зарегистрироваться</a>
                {{/if }}
            </div>
        </div>
    </div>

</header>