<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{{title}} - Морозный Полдень</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    {{{block "stylesheets"}}}
</head>
<body>

<div class="wrap">

    {{> topNavigation}}
    <div id="wrap-body" class="wrap-body">
        {{{body}}}
    </div>

</div>


<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js"></script>-->
<!--<script src="lodash/lodash.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/co/4.1.0/index.min.js"></script>
<script src="jquery/dist/jquery.min.js"></script>

<!--<script src="socket.io-client/dist/socket.io.js"></script>-->
<!--<script src="handlebars/dist/handlebars.js"></script>-->

<!--<script src="js/main.js"></script>-->

<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdFOd8MBgd1QzYYDsogP6cnrzvxYUfDsI&callback=initMap"></script>-->

{{{block "scripts"}}}


<!--<script src="yepnope.js/dist/yepnope-2.0.0.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/yepnope/1.5.4/yepnope.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/yepnope/2.0.0/yepnope.js"></script>-->

</body>
</html>