<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{{title}} - Морозный Полдень</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    {{{block "stylesheets"}}}
</head>
<body>

<div class="wrap">

    {{> topNavigation}}
    <div id="wrap-body" class="wrap-body">
        {{{body}}}
    </div>

</div>

<script src="jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<script src="js/vendor/modernizr-custom.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/yepnope/2.0.0/yepnope.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/yepnope/1.5.4/yepnope.js"></script>

<script src="js/load_polyfill.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/co/4.1.0/index.min.js"></script>

{{{block "scripts"}}}





</body>
</html>